In [2]:
import requests
import time
from bs4 import BeautifulSoup
from selenium import webdriver 
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By 
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
import pandas as pd
#import pyautogui

PARTIE I

In [19]:
# Configuration du WebDriver
driver = webdriver.Chrome()

# Demander au driver d'appeler la page suivante
driver.get("https://www.google.com/search?client=firefox-b-d&q=can#sie=lg;/m/011vm2sg;2;/m/01l5zn;mt;fp;1")


#affichage plein ecran 
driver.maximize_window()

# Attendre que la page se charge
time.sleep(5)


## scroller vers le haut
pyautogui.scroll(100) 
time.sleep(2)

pyautogui.scroll(100) 
time.sleep(2)

pyautogui.scroll(100) 
time.sleep(2)

In [20]:
#definition du dataFrame qui va regrouper toute les infos de la poule
columns = [
    'Match_date', 'Team_1', 'Team_2', 'Goal_Team_1', 'Goal_Team_2',
    'Tirs_Team_1', 'Tirs_Team_2', 'Tirs_cadres_Team_1', 'Tirs_cadres_Team_2',
    'Possession_Team_1', 'Possession_Team_2', 'Passes_Team_1', 'Passes_Team_2',
    'Precisions_passes_Team_1', 'Precisions_passes_Team_2', 'Fautes_Team_1',
    'Fautes_Team_2', 'Cartons_jaunes_Team_1', 'Cartons_jaunes_Team_2',
    'Cartons_rouges_Team_1', 'Cartons_rouges_Team_2', 'Hors_jeu_Team_1',
    'Hors_jeu_Team_2', 'Corners_Team_1', 'Corners_Team_2'
]

resume = pd.DataFrame(columns=columns)

In [21]:
# information Journee_1  

Journee_1=[10,11]
tables = driver.find_elements(By.XPATH, '//div[@class="imspo_mt__mtc-no"]//table[@class="KAIX8d"]')

for i in Journee_1:
    tables[i].click()
    time.sleep(6)
    spans = driver.find_elements(By.XPATH, '//div[@class="imso-hide-overflow"]//span')
    date = spans[-1].text
    equipe = driver.find_elements(By.XPATH, './/div[@class="ellipsisize liveresults-sports-immersive__team-name-width"]//span')
    equipe= [el.text for el in equipe]
    score = driver.find_elements(By.CLASS_NAME,"imso_mh__ma-sc-cont")
    score[0].text
    score = [score[0].text[0], score[0].text[-1]]
    table_stats = driver.find_elements(By.CLASS_NAME, "lr-imso-ss-wdt")
    stats = BeautifulSoup(table_stats[0].get_attribute('outerHTML'), 'html.parser')
    statitstiques = stats.find_all('tr', {'class':'MzWkAb'})

    new_dat ={'Match_date':date , 
    'Team_1': equipe[0], 'Team_2':equipe[1], 
    'Goal_Team_1': score[0], 'Goal_Team_2': score[1],
    'Tirs_Team_1':statitstiques[0].find_all('td')[0].text, 'Tirs_Team_2':statitstiques[0].find_all('td')[1].text, 
    'Tirs_cadres_Team_1':statitstiques[1].find_all('td')[0].text, 'Tirs_cadres_Team_2':statitstiques[1].find_all('td')[1].text,
    'Possession_Team_1':statitstiques[2].find_all('td')[0].text, 'Possession_Team_2':statitstiques[2].find_all('td')[1].text, 
    'Passes_Team_1':statitstiques[3].find_all('td')[0].text, 'Passes_Team_2':statitstiques[3].find_all('td')[1].text,
    'Precisions_passes_Team_1':statitstiques[4].find_all('td')[0].text, 'Precisions_passes_Team_2':statitstiques[4].find_all('td')[1].text, 
    'Fautes_Team_1':statitstiques[5].find_all('td')[0].text,'Fautes_Team_2':statitstiques[5].find_all('td')[1].text,
    'Cartons_jaunes_Team_1':statitstiques[6].find_all('td')[0].text, 'Cartons_jaunes_Team_2':statitstiques[6].find_all('td')[1].text,
    'Cartons_rouges_Team_1':statitstiques[7].find_all('td')[0].text, 'Cartons_rouges_Team_2':statitstiques[7].find_all('td')[1].text, 
    'Hors_jeu_Team_1':statitstiques[8].find_all('td')[0].text,'Hors_jeu_Team_2':statitstiques[8].find_all('td')[1].text,
    'Corners_Team_1':statitstiques[9].find_all('td')[0].text, 'Corners_Team_2':statitstiques[9].find_all('td')[1].text
    }
    resume.loc[len(resume)] = new_dat
    
    
    driver.back()
    time.sleep(6)

In [22]:
### information Journee_2 

tables = driver.find_elements(By.XPATH, '//div[@class="imspo_mt__mtc-no"]//table[@class="KAIX8d"]')
Journee_2 = [21,22]
for i in Journee_2:
    tables[i].click()
    time.sleep(5)
    
    spans = driver.find_elements(By.XPATH, '//div[@class="imso-hide-overflow"]//span')
    date = spans[-1].text

    equipe = driver.find_elements(By.XPATH, './/div[@class="ellipsisize liveresults-sports-immersive__team-name-width"]//span')
    equipe= [el.text for el in equipe]
    divs = driver.find_elements(By.CLASS_NAME, "imso_mh__ma-sc-cont")
    score = [divs[0].text[0], divs[0].text[-1]]
    trs = driver.find_elements(By.XPATH, '//table[@class="lr-imso-ss-wdt"]//tr[@class="MzWkAb"]')
        
    new_dat ={'Match_date':date , 
    'Team_1': equipe[0], 'Team_2':equipe[1], 
    'Goal_Team_1': score[0], 'Goal_Team_2': score[1],
    'Tirs_Team_1':(trs[0].text)[:2], 'Tirs_Team_2':(trs[0].text)[-2:], 
    'Tirs_cadres_Team_1':(trs[1].text)[:2], 'Tirs_cadres_Team_2':(trs[1].text)[-2:],
    'Possession_Team_1':(trs[2].text)[:4], 'Possession_Team_2':(trs[2].text)[-4:], 
    'Passes_Team_1':(trs[3].text)[:3], 'Passes_Team_2':(trs[3].text)[-3:],
    'Precisions_passes_Team_1':(trs[4].text)[:4], 'Precisions_passes_Team_2':(trs[4].text)[-4:], 
    'Fautes_Team_1':(trs[5].text)[:2],'Fautes_Team_2':(trs[5].text)[-2:],
    'Cartons_jaunes_Team_1':(trs[6].text)[:2], 'Cartons_jaunes_Team_2':(trs[6].text)[-2:],
    'Cartons_rouges_Team_1':(trs[7].text)[:2], 'Cartons_rouges_Team_2':(trs[7].text)[-2:], 
    'Hors_jeu_Team_1':(trs[8].text)[:2],'Hors_jeu_Team_2':(trs[8].text)[-2:],
    'Corners_Team_1':(trs[9].text)[:2], 'Corners_Team_2':(trs[9].text)[-2:]
    }
    resume.loc[len(resume)] = new_dat
    driver.back()
    time.sleep(6)

In [23]:
# information Journee_3

Journee_3=[34,35]
tables = driver.find_elements(By.XPATH, '//div[@class="imspo_mt__mtc-no"]//table[@class="KAIX8d"]')
for i in Journee_3:
    tables[i].click()
    time.sleep(6)
    
    spans = driver.find_elements(By.XPATH, '//div[@class="imso-hide-overflow"]//span')
    date = spans[-1].text
    equipe = driver.find_elements(By.XPATH, './/div[@class="ellipsisize liveresults-sports-immersive__team-name-width"]//span')
    equipe= [el.text for el in equipe]
    score = driver.find_elements(By.CLASS_NAME,"imso_mh__ma-sc-cont")
    score[0].text
    score = [score[0].text[0], score[0].text[-1]]
    table_stats = driver.find_elements(By.CLASS_NAME, "lr-imso-ss-wdt")
    stats = BeautifulSoup(table_stats[0].get_attribute('outerHTML'), 'html.parser')
    statitstiques = stats.find_all('tr', {'class':'MzWkAb'})
    
    new_dat ={'Match_date':date , 
    'Team_1': equipe[0], 'Team_2':equipe[1], 
    'Goal_Team_1': score[0], 'Goal_Team_2': score[1],
    'Tirs_Team_1':statitstiques[0].find_all('td')[0].text, 'Tirs_Team_2':statitstiques[0].find_all('td')[1].text, 
    'Tirs_cadres_Team_1':statitstiques[1].find_all('td')[0].text, 'Tirs_cadres_Team_2':statitstiques[1].find_all('td')[1].text,
    'Possession_Team_1':statitstiques[2].find_all('td')[0].text, 'Possession_Team_2':statitstiques[2].find_all('td')[1].text, 
    'Passes_Team_1':statitstiques[3].find_all('td')[0].text, 'Passes_Team_2':statitstiques[3].find_all('td')[1].text,
    'Precisions_passes_Team_1':statitstiques[4].find_all('td')[0].text, 'Precisions_passes_Team_2':statitstiques[4].find_all('td')[1].text, 
    'Fautes_Team_1':statitstiques[5].find_all('td')[0].text,'Fautes_Team_2':statitstiques[5].find_all('td')[1].text,
    'Cartons_jaunes_Team_1':statitstiques[6].find_all('td')[0].text, 'Cartons_jaunes_Team_2':statitstiques[6].find_all('td')[1].text,
    'Cartons_rouges_Team_1':statitstiques[7].find_all('td')[0].text, 'Cartons_rouges_Team_2':statitstiques[7].find_all('td')[1].text, 
    'Hors_jeu_Team_1':statitstiques[8].find_all('td')[0].text,'Hors_jeu_Team_2':statitstiques[8].find_all('td')[1].text,
    'Corners_Team_1':statitstiques[9].find_all('td')[0].text, 'Corners_Team_2':statitstiques[9].find_all('td')[1].text
    }
    
    resume.loc[len(resume)] = new_dat
    
    driver.back()
    time.sleep(6)

In [24]:
resume.head(6)

,Match_date,Team_1,Team_2,Goal_Team_1,Goal_Team_2,Tirs_Team_1,Tirs_Team_2,Tirs_cadres_Team_1,Tirs_cadres_Team_2,Possession_Team_1,...,Fautes_Team_1,Fautes_Team_2,Cartons_jaunes_Team_1,Cartons_jaunes_Team_2,Cartons_rouges_Team_1,Cartons_rouges_Team_2,Hors_jeu_Team_1,Hors_jeu_Team_2,Corners_Team_1,Corners_Team_2
0,17/01,Maroc,Tanzanie,3,0,14,2,7,0,52 %,...,12,13,2,3,0,1,0,0,5,2
1,17/01,RD Congo,Zambie,1,1,25,3,6,1,57 %,...,10,12,1,1,0,0,1,1,7,0
2,21/01,Maroc,RD Congo,1,1,11,10,4,2,55 %,...,17,17,3,1,0,0,0,0,3,5
3,21/01,Zambie,Tanzanie,1,1,11,6,4,2,45 %,...,18,9,1,0,1,0,3,0,5,3
4,Mer. 24/01,Zambie,Maroc,0,1,11,19,2,7,42 %,...,9,17,0,1,0,0,2,1,3,7
5,Mer. 24/01,Tanzanie,RD Congo,0,0,4,9,0,3,51 %,...,5,9,0,1,0,0,1,1,1,4

In [10]:
#exportation des donnees sous forme de ficher csv

resume.to_csv('data.csv', index=False)

PARTIE II

In [25]:
# Creaton de data frame resumant les match pour chacune des equipe

Maroc = (resume [(resume['Team_1'] == 'Maroc') | (resume['Team_2'] == 'Maroc')])[["Team_1","Team_2","Goal_Team_1","Goal_Team_2","Tirs_Team_1"]]
Tanzanie = (resume [(resume['Team_1'] == 'Tanzanie') | (resume['Team_2'] == 'Tanzanie')])[["Team_1","Team_2","Goal_Team_1","Goal_Team_2","Tirs_Team_1"]]
Zambie =(resume [(resume['Team_1'] == 'Zambie') | (resume['Team_2'] == 'Zambie')])[["Team_1","Team_2","Goal_Team_1","Goal_Team_2","Tirs_Team_1"]]
RD_Congo=(resume [(resume['Team_1'] == 'RD Congo') | (resume['Team_2'] == 'RD Congo')])[["Team_1","Team_2","Goal_Team_1","Goal_Team_2","Tirs_Team_1"]]

In [26]:
Maroc

   Team_1    Team_2 Goal_Team_1 Goal_Team_2 Tirs_Team_1
0   Maroc  Tanzanie           3           0          14
2   Maroc  RD Congo           1           1          11
4  Zambie     Maroc           0           1          11

In [27]:
#definition d'une fonction pour ajouter la colone victoire, donnant le vainqueur 
# de chaque match

def resultats(df):

    for i in range(len(df)):
        if int(df.iloc[i,2]) > int(df.iloc[i,3]):
            df.iloc[i,4] = df.iloc[i,0]
        elif int(df.iloc[i,2]) < int(df.iloc[i,3]):
            df.iloc[i,4] = df.iloc[i,1]
        else :
            df.iloc[i,4] = "nul"
        df.rename(columns={"Tirs_Team_1":"victoire"},inplace=True) 
    return df

In [28]:
Tanzanie = resultats(Tanzanie)
Maroc = resultats(Maroc)
Zambie = resultats(Zambie)
RD_Congo = resultats(RD_Congo)
Tanzanie

     Team_1    Team_2 Goal_Team_1 Goal_Team_2 victoire
0     Maroc  Tanzanie           3           0    Maroc
3    Zambie  Tanzanie           1           1      nul
5  Tanzanie  RD Congo           0           0      nul

In [29]:
#fonction pour determiner le nombre de but marque ert conceder pour une equipe

def nbr_but(dt, pays):
    but_maqu = 0
    but_encai = 0
    for i in range(len(dt)):
        if (dt.iloc[i,0])== pays: 
            a = dt.iloc[i,2]
            b=dt.iloc[i,3]
        else:
            b = dt.iloc[i,2]
            a= dt.iloc[i,3]
        but_maqu = but_maqu + int(a)
        but_encai = but_encai + int(b)
    return [but_maqu, but_encai]

In [30]:
#fonction qui donne le resume pour une equipe

def resume_equipe(df, pays):
    but = nbr_but(df, pays)
    gagne = len(df[df["victoire"]==pays])
    nul = len(df[df["victoire"]=="nul"])
    defaite = abs(gagne-nul)
    dic = {"equipe":pays,"MJ":len(df), 'G':gagne,"N":nul, "P": defaite,  
                "BP":but[0], "BC":but[1] , "DB":but[0]-but[1],
                "Pts": 3*gagne+ nul
                }
    return dic

In [45]:
#Tableau recapitulatif de la poule 

columns = [
    "equipe",'MJ', 'G', 'N', 'P', 'BP',
    'BC', 'DB', 'Pts'] 

tableau = pd.DataFrame(columns=columns)

d1 = resume_equipe(Maroc, "Maroc")
d2 = resume_equipe(Tanzanie, "Tanzanie")
d3 = resume_equipe(Zambie, "Zambie")
d4 = resume_equipe(RD_Congo, "RD Congo")
for i in [d1,d2,d3,d4]:
    tableau.loc[len(tableau)] = i

In [46]:
tableau = tableau.set_index('equipe')
tableau = tableau.sort_values(by=['Pts','DB'], ascending=False)

tableau

          MJ  G  N  P  BP  BC  DB  Pts
equipe
Maroc      3  2  1  1   5   1   4    7
RD Congo   3  0  3  3   2   2   0    3
Zambie     3  0  2  2   2   3  -1    2
Tanzanie   3  0  2  2   1   4  -3    2